<%= turbo_frame_tag "comment_#{comment.id}" do %>
  <div class="well">
  <table>
    <td class="col-sm-2">
      <% if comment.status=='archived' %>
        (Archived)
      <% end %>
      <strong><%= comment.commenter %>:</strong>
    </td>
    <td class="col-sm-4">
      <%= simple_format(comment.body) %>
    </td>
    <td class="col-sm-1">
      Upvote:
      <b><%= comment.upvotes_count %></b>
    </td>
  </table>
  <p>
  <table><% if user_signed_in? %>
    <td class="col-sm-3">
      <% if !comment.voted_by?(current_user) %>
        <%= button_to 'Upvote', upvote_article_comment_path(comment.article, comment), method: :post, params: { comment_id: comment.id }, class: "btn btn-xs btn-success" %>
      <% elsif comment.voted_by?(current_user)%>
        <%= button_to 'Unvote', unvote_article_comment_path(comment.article, comment), method: :delete, params: { comment_id: comment.id }, class: "btn btn-xs btn-warning" %>
      <% end %>
    </td>
<!--    <td class="col-sm-3">-->
      <%#= link_to "Edit", edit_article_comment_path(comment.article, comment), class: "btn btn-xs btn-primary", "data-turbo-frame": "comment_#{comment.id}" %>
<!--    </td>-->
    <td class="col-sm-3">
      <%= link_to 'Delete',
                  article_comment_path(comment.article, comment),
                  class: "btn btn-xs btn-danger",
                  data: { turbo_method: 'delete', turbo_confirm: 'Really?' } %>
    </td>
    <td class="col-sm-3">
      <% if comment.status!='archived' %>
        <%= link_to "Archive",
                    archive_article_comment_path(comment.article, comment),
                    class: "btn btn-xs btn-info",
                    data: { turbo_method: 'put' }%>
      <% else %>
        <%= link_to "Publish",
                    publish_article_comment_path(comment.article, comment),
                    class: "btn btn-xs btn-info",
                    data: { turbo_method: 'put' }%>

      <% end %>
    </td>
    <% else %>
<!--    user doesn't log in -->
    <% end %>
  </table>
  </p>
  </div>


  <%# if user_signed_in? %>
    <%#= comment.commenter %>
<!--    <%#= comment.body %> (archived)-->
    <%# end %>

<% end %>