<% unless comment.archived? %>
  <%= form_with model: comment, url: archive_article_comment_path(comment.article, comment), method: :put do |form| %>
    <%= form.hidden_field :_method, value: 'put' %>
    <%= form.submit 'Archive Comment' %>
  <% end %>
  <table>
    <td>
      <strong><%= comment.commenter %>:</strong>
    </td>
    <td>
      <%= comment.body %>
    </td>
  </table>
  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </p>
<% end %>