<%= render 'shared/errors', obj: @article %>
<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |form| %>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= form.label :title %>
    </div>
    <div class="col-sm-6">
      <%= form.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= form.label :body %>
    </div>
    <div class="col-sm-6">
      <%= form.text_area :body, rows: 10, class: "form-control", placeholder: "Body of article" %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= form.label :status %>
    </div>
    <div class="col-sm-6">
      <%= form.select :status, ['public', 'private', 'archived'], prompt: "Select Status", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= form.label :image %>
    </div>
    <div class="col-sm-6">
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit class: 'btn btn-primary btn-large' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a id="markdownText">Show result</a>
      <p>
        <div id="html_body_text" ></div>
      </p>
    </div>
  </div>

  <script>
      $(document).ready(function () {
          $('#markdownText').click(function () {
              // Get the text from the textarea
              var articleBody = $('#article_body').val();

              // Make an AJAX POST request to your 'page' endpoint
              $.ajax({
                  type: 'POST',
                  url: '/articles/markdown_to_html', // Replace with the actual URL of your 'page' endpoint
                  data: { input_text: articleBody }, // Send the article body as data
                  success: function (response) {
                      // Update the content of the 'ready_html_text' div with the response
                      $('#html_body_text').html(response['html_text']);
                  },
                  error: function (error) {
                      console.error('Error:', error);
                  },
              });
          });
      });
  </script>



<% end %>