<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p>Status: <%= @article.status %></p>


<% if can? :edit, @article %>
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></li>
  </ul>
<% else %>
  You don't have rights for edit or destroy it
<% end %>

<br>
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<br>
<h3>
  <%= link_to 'INDEX', root_path %>
</h3>